/*
  External fonts
  ---------------------------------
*/
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/brands.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'PT Serif', serif;
}

/*
  Layout
  ---------------------------------
*/

.sc-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #F5F6F4;
  height: 100vh;
}

.sc-layout .se-badge {
  width: 120px;
  font-size: 14px;
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #767676;
  background: #fff;
  border-radius: 10px;
}

.sc-layout .se-title {
  font-size: 50px;
  text-align: center;
}

.sc-layout .se-mission {
  font-size: 21px;
  color: #3F3F3F;
  max-width: 40rem;
}

.sc-layout p {
  margin-bottom: 1rem;
}

/* 
  Logo
  ---------------------------------
*/

.sc-substance-logo.sm-inverted img {
  filter: invert(10);
}

/* 
  Header
  ---------------------------------
*/

.sc-header {
  padding: 2rem;
}


/* 
  Footer
  ---------------------------------
*/

.sc-footer {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  align-self: flex-end;
  width: 100%;
}

.sc-footer .se-footer-container {
  margin: 0 var(--default-spacing);
  font-size: 12px;
  font-weight: 500;
}

.sc-footer .se-footer-container .se-footer-menu {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}

.sc-footer .se-footer-container .se-footer-menu .sc-substance-logo img {
  width: 130px;
}

.sc-footer .se-footer-container .se-footer-menu .se-col .se-nav-header {
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
}

.sc-footer .se-footer-container .se-footer-menu .se-col .se-nav-item {
  font-weight: 400;
  margin: 0.5rem 0;
}

.sc-footer .se-footer-container .se-footer-menu .se-col .se-nav-item a {
  text-decoration: none;
  color: #717171;
}

.sc-footer .se-footer-container .se-footer-menu .se-col:last-child {
  width: 100px;
}

.sc-footer .se-footer-container .se-footer-second-menu {
  display: flex;
  color: #bababa;
}

.sc-footer .se-footer-container .se-footer-second-menu .se-item {
  margin-right: 0.5rem;
}

.sc-footer .se-footer-container .se-footer-second-menu .se-item a {
  text-decoration: none;
  color: inherit;
}

.sc-footer .se-footer-container .se-footer-second-menu .se-copyright-menu,
.sc-footer .se-footer-container .se-footer-second-menu .se-social-menu {
  display: flex;
  flex-direction: row;
}

.sc-footer .se-footer-container .se-footer-second-menu .se-social-item {
  margin-left: var(--half-spacing);
}

.sc-footer .se-footer-container .se-footer-second-menu .se-social-item a {
  font-size: 14px;
  color: #6B6B6B;
}

/* 
  Columns
  ---------------------------------
*/

.sm-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.sm-columns .se-col {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
  padding: var(--half-spacing) 0;
}

.sm-spacer {
  -webkit-box-flex: 1!important;
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

.sm-centered {
  text-align: center;
}