/*
  Variables
  ---------------------------------
*/

:root {
  --dark-background-color: rgba(0,0,0,0.9);
  --light-text-color: #fff;
  --link-color: #2C47F3;
  --tiny-font-size: 14px;
  --text-font-size: 16px;
  --medium-font-size: 22px;
  --big-font-size: 28px;
  --large-font-size: 36px;
  --content-width: 770px;
  --content-font: 'Inter', Arial;
  --heading-font: 'Avenir';
  --default-line-height: 1.6em;
  --default-font-weight: 400;
  --text-spacing: 1rem;
  --default-spacing: 2rem;
  --half-spacing: 1rem;
  --double-spacing: 4rem;
}

/*
  External fonts
  ---------------------------------
*/
@import url('https://rsms.me/inter/inter.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/brands.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css');

/*
  Body
  ---------------------------------
*/

.sc-body {
  background: #fff;
}

.sc-body .se-body-container {
  max-width: var(--content-width);
  margin: 0 auto;
}

/*
  Layout
  ---------------------------------
*/

.sc-layout {
  font-family: var(--content-font);
  font-weight: var(--default-font-weight);
  line-height: var(--default-line-height);
  -webkit-font-smoothing: antialiased;
}

/*
  Sections
  ---------------------------------
*/

.sc-section {
  margin: var(--default-spacing);
}

.sc-section .se-section-headline {
  font-family: var(--heading-font);
  font-size: var(--large-font-size);
  line-height: var(--default-line-height);
  text-align: center;
  margin: var(--double-spacing) 0 var(--default-spacing);
}

.sc-section p {
  margin-bottom: var(--text-spacing);
}

.sc-section p a {
  color: inherit;
}

/* 
  Menu
  ---------------------------------
*/
.sc-menu {
  display: flex;
  flex-direction: column;
}

.sc-menu .sc-menu-link {
  font-size: 18px;
}

.sc-menu a {
  color: #fff;
  text-decoration: none;
}

/* 
  Header
  ---------------------------------
*/

.sc-header {
  padding: var(--half-spacing) 0;
  background: var(--dark-background-color);
}

.sc-header .se-header-container {
  padding: var(--default-spacing) 0;
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

@media (min-width: 40rem) {
  .sc-menu {
    flex-direction: row;
  }
  .sc-menu .sc-menu-link {
    margin-left: 24px;
  }
  .sc-header .se-header-container {
    flex-flow: row wrap;
  }
}

/* 
  Teaser
  ---------------------------------
*/

.sc-teaser {
  color: #fff;
  background: var(--dark-background-color);
  text-align: center;
}

.sc-teaser .se-teaser-container {
  margin: 0 auto;
  max-width: var(--content-width);
}

.sc-teaser .se-teaser-title {
  font-family: var(--heading-font);
  line-height: var(--default-line-height);
  font-size: var(--large-font-size);
}

.sc-teaser .se-teaser-headline {
  font-family: var(--heading-font);
  font-size: var(--big-font-size);
  line-height: var(--default-line-height);
  padding: 0 var(--double-spacing) var(--default-spacing);
}

.sc-teaser .se-teaser-image img {
  max-width: 100%;
}

/* 
  Footer
  ---------------------------------
*/

.sc-footer {
  padding: var(--double-spacing) var(--default-spacing);
  background: #fff;
}

.sc-footer .se-footer-container {
  max-width: var(--content-width);
  margin: 0 auto;
  font-size: 12px;
  font-weight: 500;
}

.sc-footer .se-footer-container .se-footer-menu {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}

.sc-footer .se-footer-container .se-footer-menu .se-col .nav-header {
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
}

.sc-footer .se-footer-container .se-footer-menu .se-col .nav-item a {
  text-decoration: none;
  color: #717171;
}

.sc-footer .se-footer-container .se-footer-menu .se-col:last-child {
  width: 100px;
}

.sc-footer .sc-substance-logo img {
  filter: invert(10);
}

.sc-footer .se-footer-container .se-footer-second-menu {
  display: flex;
  padding: 0 var(--half-spacing);
  color: #bababa;
}

.sc-footer .se-footer-container .se-footer-second-menu .item {
  margin-right: 2.6rem;
}

.sc-footer .se-footer-container .se-footer-second-menu .item a {
  text-decoration: none;
  color: inherit;
}

.sc-footer .se-footer-container .se-footer-second-menu .social-item {
  margin-left: var(--half-spacing);
}

.sc-footer .se-footer-container .se-footer-second-menu .social-item a {
  font-size: 14px;
  color: #6B6B6B;
}

/* 
  Columns
  ---------------------------------
*/

.sm-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sm-columns .se-col {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
  padding: var(--half-spacing) 0;
}

@media (min-width: 40rem) {
  .sm-columns {
    flex-direction: row;
  }

  .sm-columns .se-col {
    margin-bottom: inherit;
    padding: 0 var(--half-spacing);
  }
}

.sm-spacer {
  -webkit-box-flex: 1!important;
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

/* 
  Lists
  ---------------------------------
*/

.sc-list-item {
  display: flex;
  margin: var(--default-spacing) 0;
}

.sc-list-item .se-list-item-symbol {
  font-family: var(--heading-font);
  font-size: var(--large-font-size);
  line-height: 1em;
}

.sc-list-item .se-list-item-content {
  margin-left: var(--default-spacing);
}

.sc-list-item .se-list-item-content .se-list-item-headline {
  font-family: var(--heading-font);
  font-size: var(--medium-font-size);
  line-height: var(--default-line-height);
}

.sc-list-item .se-list-item-content .se-list-item-text {
  font-size: var(--text-font-size);
}

/* 
  FAQ
  ---------------------------------
*/

.sc-faq-item {
  border-top: 1px solid #EDEDED;
  padding: var(--half-spacing) var(--half-spacing);
}

.sc-faq-item:last-child {
  border-bottom: 1px solid #EDEDED;
}

.sc-faq-item .se-faq-item-header {
  display: flex;
  justify-content: space-between;
  font-family: var(--heading-font);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.sc-faq-item .se-faq-item-content {
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.sc-faq-item .se-faq-item-content.sm-opened {
  margin-top: var(--half-spacing);
  max-height: 600px;
}

/* 
  Partners
  ---------------------------------
*/

.sc-partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sc-partners > .sc-partner-logo {
  padding: 0 var(--half-spacing);
}

.sc-partners > .sc-partner-logo img {
  height: 60px;
}

/* 
  Cards
  ---------------------------------
*/

.sc-card {
  background: #F5F5F5;
  margin: var(--half-spacing);
  padding: var(--half-spacing)!important;
  border-radius: 12px;
}

.sc-card .se-card-title {
  font-family: var(--heading-font);
  font-size: var(--text-font-size);
  font-weight: 500;
  margin: var(--half-spacing) 0;
}

.sc-card .se-card-content {
  font-family: var(--content-font);
  font-size: var(--tiny-font-size);
  line-height: var(--default-line-height);
  margin: var(--half-spacing) 0;
  color: #4D4D4D;
}

/* 
  Read More link
  ---------------------------------
*/

.sc-read-more {
  color: var(--link-color);
  font-family: var(--heading-font);
  font-size: var(--medium-font-size);
  margin: var(--half-spacing) 0;
  cursor: pointer;
}

.sc-read-more a,
.sc-read-more a:visited {
  text-decoration: none;
  color: inherit;
}

.sc-read-more i {
  margin-right: var(--half-spacing);
}

/* 
  Main Page
  ---------------------------------
*/

.se-main-figure {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--default-spacing) 0 var(--double-spacing);
}

.se-main-figure .se-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  max-width: 30vw;
  max-height: 30vw;
  background: #fff;
  color: #000;
  border-radius: 75px;
  font-family: var(--heading-font);
  font-size: 18px;
  font-weight: 500;
}

.se-main-help {
  margin: var(--default-spacing) 0;
  text-align: center;
}

.se-main-help .se-label {
  color: #787878;
}

.se-main-help .se-title {
  font-size: 20px;
  margin: var(--default-spacing) 0;
}

.se-main-help .se-description {
  margin: var(--double-spacing) 0;
} 

.se-main-help .se-coming-soon {
  background: #F1F1F1;
  color: #515151;
  width: 130px;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 auto;
}

.se-read-more a {
  text-decoration: none;
  color: var(--link-color);
}

/* 
  Texture Page
  ---------------------------------
*/

.se-action-button {
  background: #0ADCAD;
  border-color: #0ADCAD;
  color: #08401F;
  padding: 0.5rem 3rem;
  font-family: var(--heading-font);
  font-size: var(--text-font-size);
  border-radius: 6px;
  cursor: pointer;
}

.se-note {
  color: #ccc;
  padding: var(--default-spacing) var(--double-spacing);
}